<h1>{{ game.name }}</h1>

<hr />

<img src="{{ game.image }}" />

<p>{{ game.description }}</p>

<p>Developer: <a href="{% url 'steam:developer' game.developer.id %}">{{ game.developer.name }}</a></p>
<p>Release date: {{ game.release_date }}</p>

<hr />

<h3>Categories</h3>
<ul>
{% for category in game.category.all %}
    <li><a href="{% url 'steam:category' category.id %}">{{ category.name }}</a></li>
{% endfor %}
</ul>

<hr />

<h3>Reviews</h3>

{% if game.review_set.all %}
    <ul>
    {% for review in game.review_set.all %}
        <li>nickname: {{ review.author_name }}<br />text: {{ review.text }}<br />stars: {{ review.stars }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>This game has no reviews yet.</p>
{% endif %}

<hr />

<h3>Add review</h3>

<form action ="{% url 'steam:addreview' game.id %}" method="post">
    {% csrf_token %}
    {{ review.as_p }}
    <input type="submit" class="btn-primary" value="Add">
 </form>
