{% extends "steam/layout.html" %}

{% block content %}

<form method="get">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form>

<hr />

{% if filter %}
    <div class="row">
        {% for game in filter.qs %}
            <div class="col-sm-4">
                <div class="card">
                    <a href="{% url 'steam:game' game.id %}"><img class="card-img-top" src="{{ game.image }}" alt="Card image cap"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'steam:game' game.id %}">{{ game.name }}</a></h5>
                    </div>
                </div>
                <br />
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}
